<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt98.server.mapper.UserMapper">
    <insert id="insert" parameterType="com.tt98.pojo.entity.UserDO">
        insert into user (user_name, password) values (#{username}, #{password})
    </insert>
    
</mapper>