<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt98.server.mapper.UserFootMapper">

    <select id="listReadArticleByUserId" resultType="java.lang.Long">
        select `document_id`
        from user_foot
        where user_id = #{userId} and document_type = 1 and read_stat = 1
        order by update_time desc
        <if test="pageParamDTO != null">
            limit #{pageParamDTO.offset}, #{pageParamDTO.limit}
        </if>
    </select>

    <select id="listCollectedArticlesByUserId" resultType="java.lang.Long">
        select `document_id`
        from user_foot
        where user_id = #{userId} and document_id = 1 and collection_stat = 1
        order by update_time desc
        <if test="pageParamDTO != null">
            limit #{pageParamDTO.offset}, #{pageParamDTO.limit}
        </if>
    </select>



</mapper>