<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
  <nav
          th:data-islogin="${global.isLogin}"
          class="navbar navbar-expand-md bg-color-white fixed-top"
  >
    <div class="nav-body">
      <div class="nav-logo-wrap-lg">
        <a class="navbar-logo-wrap" href="/">
          <img class="logo" src="/img/logo.svg" th:src="${global.siteInfo.oss + '/img/logo.svg'}"/>
          <img src="/img/icon.png" class="logo-lg" alt="" th:src="${global.siteInfo.oss + '/img/icon.png'}"/>
        </a>
        <div class="dropdown nav-menu-lg">
          <div class="dropdown">
            <div
                    class="nav-menu-lg-btn dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-expanded="false"
            >
              首页
            </div>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/">首页</a>
              <a class="dropdown-item" href="/column">教程</a>
              <a class="dropdown-item" href="/chat">派聪明</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li
                  th:class="${'nav-item' + (!#strings.equals(global.currentDomain, 'column')
                    && !#strings.equals(global.currentDomain, 'follow')
                    && !#strings.equals(global.currentDomain, 'chat')? ' selected-domain' : '')}"
                  class="nav-item"
          >
            <a class="nav-link" href="/">首页</a>
          </li>
          <li
                  th:class="${'nav-item' + (#strings.equals(global.currentDomain, 'column') ? ' selected-domain' : '')}"
                  class="nav-item"
          >
            <a class="nav-link" href="/column">教程</a>
          </li>
          <li
                  th:class="${'nav-item' + (#strings.equals(global.currentDomain, 'chat') ? ' selected-domain' : '')}"
                  class="nav-item"
          >
            <a class="nav-link" href="/chat">派聪明</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <button
                type="button"
                class="btn btn-primary nav-article"
                th:data-target="${global.isLogin ? '' : '#loginModal'}"
                th:data-toggle="${global.isLogin ? '' : 'modal'}"
        >
          写文章
        </button>
        <ul th:if="${!global.isLogin}">
          <!--  待登录 -->
          <li class="nav-item">
            <a
                    class="nav-link"
                    href="#"
                    data-toggle="modal"
                    data-target="#loginModal"
            >
              登录
            </a>
          </li>
        </ul>
        <ul th:if="${global.isLogin}" class="nav-right-user">
          <!--  已登录 -->
          <li class="nav-item nav-notice">
            <a class="nav-link navbar-count-msg-box" href="/notice/">
                <span
                        th:if="${global.msgNum != null && global.msgNum > 0}"
                        th:text="${global.msgNum}"
                        class="navbar-count-msg"
                ></span>
              <!-- 消息提醒的角标 -->
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                        d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
                ></path>
                <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
              </svg>
            </a>
          </li>

          <!-- 头像框 -->
          <div class="nav-right-user">
            <div class="nav-user-avatar">
              <img
                      class="nav-login-img"
                      style="border-radius: 50%"
                      th:src="${global.user.photo}"
                      src="https://static.developers.pub/static/img/logo.b2ff606.jpeg"
                      alt=""
                      loading="lazy"
              />
              <div class="nav-user-arrow"></div>
              <div class="nav-user-dropdown">
                <div class="nav-user-dropdown-inner nav-user-dropdown::before">
                  <!-- 下落框内容 -->
                  <!--  调整为所有用户都可以直接看到管理后台  th:if="${#strings.equalsIgnoreCase(global.user.role, 'admin')}"-->
                  <!-- 本地环境的时候不显示，本地环境的时候通过后端直接启动管理后台 -->
                  <a
                          th:if="${#strings.equals(global.env, 'prod')}"
                          href="/admin/#/statistics/index"
                          target="_blank"
                          class="dropdown-item"
                  >
                    管理后台
                  </a>
                  <div
                          th:if="${#strings.equalsIgnoreCase(global.user.role, 'admin')}"
                          class="dropdown-divider"
                  ></div>
                  <a
                          th:href="${'/user/home?userId=' + global.user.userId}"
                          class="dropdown-item"
                          href="#"
                  >
                    个人主页
                  </a>
                  <a id="logoutBtn" href="/logout" class="dropdown-item">登出</a>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 登录 Modal -->
  <div
          th:if="${!global.isLogin}"
          class="modal fade"
          id="loginModal"
          data-backdrop="static"
          data-keyboard="false"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">登录tt98</h6>
          <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="auth-body">
            <div class="login-main">
              <!-- 分为上下两部分，下面是其他登录比如说 GitHub、验证码 -->
              <div class="panel">
                <h1 class="title">用户名密码登录</h1>
                <!-- 登录表单、用户名和密码 -->
                <form id="login-form">
                  <div class="form-group">
                    <input type="text" required autocomplete="off" class="form-control form-control-sm" id="username" placeholder="输入用户名">
                  </div>
                  <div class="form-group">
                    <input type="password" required class="form-control form-control-sm" id="password" placeholder="输入密码">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block btn-sm">登录</button>
                </form>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 绑定星球用户 -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">绑定二哥编程星球，畅享 VIP 尊享服务！</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="auth-body">
            <div class="register-main">
              <!-- 分为上下两部分，下面是其他登录比如说 GitHub、验证码 -->
              <div class="panel">
                <h1 class="title">
                  <a target="_blank"
                     class="underline"
                     href="https://paicoding.com/article/detail/358">戳我了解如何获取星球编号，新窗口打开</a>
                </h1>
                <form id="register-form">
                  <div class="form-group">
                    <input type="text"
                           placeholder="星球编号，戳上面的链接有详细教程"
                           class="form-control form-control-sm"
                           required
                           id="starNumber"
                           autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input type="text"
                           placeholder="用户名密码登录时用"
                           class="form-control form-control-sm"
                           id="registerUser" required>
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="密码，你自己能记得住的" class="form-control form-control-sm" id="registerPassword" required>
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="微信搜沉默王二回复邀请码获取，也可不填" class="form-control form-control-sm" id="invitationCode" autocomplete="off">
                  </div>
                  <!-- 绑定过会直接登录 -->
                  <button type="submit"
                          class="btn btn-primary btn-block btn-sm"
                          th:text="${global.isLogin} ? '绑定' : '绑定后登录'">绑定/绑定后登录</button>
                </form>
              </div>
            </div>
            <div class="tabpane-container">
              <h2 class="title">添加二哥微信 itwanger 审核更快</h2>
              <div class="first">
                <img class="signin-qrcode" th:src="${global.siteInfo.contactMeStarQrCode}"/>
              </div>

              <div class="explain">
                <bold>记得备注</bold>
                <code>星球编号</code>
                <div>我会根据星球编号进行审核</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script
          src="/js/mock.js"
          th:if="${!#strings.equals(global.env, 'prod')}"
  ></script>
  <script th:inline="javascript">
    // 是否自动刷新验证码
    let autoRefresh;
    const stateTag = $('#state'), codeTag = $('#code');

    // 登录
    $("#login-form").on("submit", function(event) {
      event.preventDefault();

      // 获取用户名和密码，没有定义 ID
      const username = $("#username").val();
      const password = $("#password").val();

      $.ajax({
        url: "/login/username",
        type: "POST",
        data: {
          username: username,
          password: password
        },
        success: function(response) {
          console.log(response);
          if(response.status.code === 0) {
            // 登录成功
            refreshPage();
          } else {
            // 登录失败
            toastr.error(response.status.msg);
          }
        },
        error: function(error) {
          console.error(error);
          // 出现错误时如何处理
        }
      });
    });

    // 绑定星球
    $("#register-form").on("submit", function(event) {
      event.preventDefault();

      // 获取用户名和密码，没有定义 ID
      const registerUser = $('#registerUser').val();
      const starNumber = $("#starNumber").val() | '00000';
      const password = $("#registerPassword").val();
      const invitationCode = $("#invitationCode").val();

      $.ajax({
        url: "/login/register",
        type: "POST",
        data: {
          username: registerUser,
          starNumber: starNumber.toString().padStart(5, '0'), // "00001",
          password: password,
          invitationCode: invitationCode
        },
        success: function(response) {
          console.log(response);
          if(response.status.code === 0) {
            // 登录成功
            refreshPage();
          } else {
            // 登录失败
            toastr.error(response.status.msg);
          }
        },
        error: function(error) {
          console.error(error);
          // 出现错误时如何处理
        }
      });
    });


    $(".nav-article").click(() => {
      if ([[${global.isLogin}]]) {
        // 新页面打开文章编辑
        // 移除本地缓存
        localStorage.removeItem('articleTitle');
        window.open("/article/edit")
      }
    })

    // 定义一个刷新页面的方法
    function refreshPage() {
      if (window.location.pathname === "/login") {
        // 登录成功，跳转首页
        window.location.href = "/";
      } else {
        // 刷新当前页面
        window.location.reload();
      }
    }

    /**
     * 记录长连接
     * @type {null}
     */
    let sseSource = null;
    let intHook = null;
    let deviceId = null;

    /**
     * 建立半长连接，用于实现自动登录
     */
    function buildConnect() {
      if (sseSource != null) {
        try {
          sseSource.close();
        } catch (e) {
          console.log("关闭上次的连接", e);
        }
        try {
          window.clearInterval(intHook);
        } catch (e) {
        }
      }

      if(!deviceId) {
        deviceId = getCookie("f-device");
      }
      const subscribeUrl = "/subscribe?deviceId=" + deviceId;
      const source = new EventSource(subscribeUrl);
      sseSource = source;

      source.onmessage = function (event) {
        let text = event.data.replaceAll("\"", "").trim();
        console.log("receive: " + text);

        let newCode;
        if (text.startsWith('refresh#')) {
          // 刷新验证码
          newCode = text.substring(8).trim();
          codeTag.text(newCode);
          stateTag.text("已刷新 ");
        } else if (text === 'scan') {
          // 二维码扫描
          stateTag.text("已扫描 ");
        } else if (text.startsWith('login#')) {
          // 登录格式为 login#cookie
          console.log("登录成功,保存cookie", text)
          document.cookie = text.substring(6);
          source.close();
          refreshPage();
        } else if (text.startsWith("init#")) {
          newCode = text.substring(5).trim();
          codeTag.text(newCode);
          console.log("初始化验证码: ", newCode);
        }

        if (newCode != null) {
          try {
            window.clearInterval(intHook);
          } catch (e) {}
        }

        if ([[${!#strings.equals(global.env, 'prod')}]]) {
          $("#mockLogin").attr('data-verify-code', newCode);
          $("#mockLogin2").attr('data-verify-code', newCode);
        }
      };

      source.onopen = function (evt) {
        deviceId = getCookie("f-device");
        console.log("开始订阅, 设备id=", deviceId, evt);
      }
      source.onerror = function (e, evt) {
        console.log("连接错误，重新开始", e, evt)
        stateTag.text("连接中断,请刷新重连");
        buildConnect(code);
      }

      fetchCodeCnt = 0;
      intHook = self.setInterval("fetchCode()", 1000);
    }

    function refreshCode() {
      $.ajax({
        url: "/login/refresh?deviceId=" + deviceId, dataType: "json", type: "get", success: function (data) {
          const code = data['result']['code'];
          const reconnect = data['result']['reconnect']
          console.log("验证码刷新完成: ", data);

          if (reconnect) {
            // 重新建立连接
            buildConnect();
            $('#state').text("已刷新!");
          } else if(code) {
            if (codeTag.text() !== code) {
              console.log("主动刷新验证码!");
              codeTag.text(code);
              stateTag.text("已刷新!");
            } else {
              console.log("验证码已刷新了!");
            }
          }
        }
      })
    }
    $('#loginModal').on('show.bs.modal', function () {
      console.log("登录弹窗已展示!");
      // buildConnect();
    })
    $('#refreshCode').click(() => {
      refreshCode();
    })

    // 获取用户头像和下落框元素
    const navUserAvatar = document.querySelector('.nav-user-avatar');
    const navUserDropdown = document.querySelector('.nav-user-dropdown');

    if (navUserAvatar != null && navUserDropdown != null) {
      // 当鼠标点击用户头像时显示下落框
      navUserAvatar.addEventListener('click', () => {
        // 如果下落框是隐藏的，则显示；如果已经显示，则不处理
        if (navUserDropdown.style.display === 'none' || navUserDropdown.style.display === '') {
          navUserDropdown.style.display = 'block';
        }
      });
      // 点击其他区域时隐藏下落框
      document.addEventListener('click', (event) => {
        // 如果点击的区域不是用户头像和下落框，则隐藏下落框
        if (!navUserAvatar.contains(event.target) && !navUserDropdown.contains(event.target)) {
          navUserDropdown.style.display = 'none';
        }
      });
    }
  </script>
</div>
</html>
